langchain
langchain_openai
langchain_core
python-dotenv
langserve
fastapi
uvicorn
pypdf
sse_starlette
python-multipart
streamlit
langchain_community
langchain_pinecone
pymongo
langchain_google_genai

# PDF handling
PyMuPDF>=1.22.5       # also called 'fitz'
pdfminer.six>=20221105

# DOCX handling
python-docx>=0.8.11





e
